.App {
	min-height: 100vh;
}


.DrawerContent a {
	text-decoration: none;
}

.App-logo {
	height: 40vmin;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.UnstyledLink {
	text-decoration-line: unset;
	color: unset;
}
